.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  max-width: 1100px;
}
.card {
  max-width: 50%;
  margin: 0 auto;
  background-color: #eef2e2;
  color: #352f44;
  padding-bottom: 40px;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-left: 230px;
  text-align: end;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
}
h2 .unit {
  font-size: 16px;
  position: relative;
  top: -13px;
}
h2 .active {
  color: #352f44;
  cursor: default;
}

h2 .active:hover {
  text-decoration: none;
}

h3 {
  margin-top: 30px;
  font-weight: 200;
  font-size: 20px;
}
.material-symbols-outlined {
  font-weight: 400;
  color: #352f44;
  margin-top: 20px;
}

.row {
  font-family: "Poppins", sans-serif;
  color: #5c5470;
  margin-top: -51px;
}
form {
  margin-right: 260px;
}
#button-search {
  color: #352f44;
  background-color: #d9e0c3;
  border-color: #d6dbc5;
  margin-top: -116px;
  margin-left: 215px;
}
#button-search:hover {
  background-color: #d6dbc5;
  border-color: #d9e0c3;
  color: #352f44;
}
#geolocate {
  color: #352f44;
  background-color: #d9e0c3;
  border-color: #d6dbc5;
  margin-top: -197px;
  margin-left: 270px;
}
#geolocate:hover {
  background-color: #d6dbc5;
  border-color: #d9e0c3;
  color: #352f44;
}
button {
  color: #352f44;
  background-color: #eef2e2;
  border-color: #d9e0c3;
  font-family: "Poppins", sans-serif;
}

.temp {
  font-size: 13px;
  margin-top: 5px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 15px;
  margin-left: 300px;
}

ul {
  list-style: none;
  font-family: "poppins", sans-serif;
  text-align: end;
  font-size: 15px;
}
#playlist {
  position: absolute;
  top: 177px;
}
